<p class="text-center">
<app-loader [isLoading]="isLoading"></app-loader>
</p>

<div class="container">

<div class="card mb-2 p-2">
        <div class="card-img">
          <img class="card-img-top" src="assets/vps/44/1.jpg" alt="Card image cap" width="100%" />
        </div>
  <div class="card-block">
    <h4 class="card-title">A patient with chronic low back pain</h4>
    <h6 class="card-subtitle mt-2 mb-4 text-muted">
        Authors: 
        <div>Ioannis Koulas <font class="text-info">(4/5 <i class="fa fa-star" aria-hidden="true"></i>)</font></div>
        <div>Evangelos Lykotsetas <font class="text-info">(4/5 <i class="fa fa-star" aria-hidden="true"></i>)</font></div>
        <div>Dimitris Kola <font class="text-info">(4/5 <i class="fa fa-star" aria-hidden="true"></i>)</font></div>
        <div>Vasilis Vasilopoulos <font class="text-info">(4/5 <i class="fa fa-star" aria-hidden="true"></i>)</font></div>
        <div>Dimitra Rafailia Bakaloudi <font class="text-info">(4/5 <i class="fa fa-star" aria-hidden="true"></i>)</font></div>
    </h6>       


    <p class="card-text">
        George suffers from chronic low back pain that causes discomfort in his everyday life..   
    </p>
    <a routerLink="/play" class="float-right btn btn-primary"><i class="fa fa-unlock-alt"></i> Play now!</a>
    <div class="float-left text-center text-warning">
    <i class="fa fa-star" aria-hidden="true"></i>
    <i class="fa fa-star" aria-hidden="true"></i>
    <i class="fa fa-star" aria-hidden="true"></i>
    <i class="fa fa-star" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <p class="text-muted"><i class="fa fa-clock-o" aria-hidden="true"></i> ~ 12 minutes</p>
    </div> 
  </div>
</div>




<!--
<div class="card mb-2 p-2">
		<div class="card-img">
		  <img class="card-img-top" src="assets/vps/1/intro.jpg" alt="Card image cap" />
		</div>
  <div class="card-block">
    <h4 class="card-title">A Phantom Menace: Can you make the right diagnosis in time?</h4>
    <h6 class="card-subtitle mt-2 mb-4 text-muted">
        Authors: 
        <div>Ioannis Koulas <font class="text-info">(4/5 <i class="fa fa-star" aria-hidden="true"></i>)</font></div>
        <div>Evangelos Lykotsetas <font class="text-info">(4/5 <i class="fa fa-star" aria-hidden="true"></i>)</font></div>
        <div>Dimitris Kola <font class="text-info">(4/5 <i class="fa fa-star" aria-hidden="true"></i>)</font></div>
        <div>Vasilis Vasilopoulos <font class="text-info">(4/5 <i class="fa fa-star" aria-hidden="true"></i>)</font></div>
        <div>Dimitra Rafailia Bakaloudi <font class="text-info">(4/5 <i class="fa fa-star" aria-hidden="true"></i>)</font></div>
    </h6>    	


    <p class="card-text">
        A virtual patient case about a middle-aged woman with high fever and a subtle discomfort around the right upper abdominal quadrant.   
    </p>
    <a routerLink="/play" class="float-right btn btn-primary"><i class="fa fa-unlock-alt"></i> Play now!</a>
    <div class="float-left text-center text-warning">
    <i class="fa fa-star" aria-hidden="true"></i>
    <i class="fa fa-star" aria-hidden="true"></i>
    <i class="fa fa-star" aria-hidden="true"></i>
    <i class="fa fa-star" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <p class="text-muted"><i class="fa fa-clock-o" aria-hidden="true"></i> ~ 12 minutes</p>
    </div> 
  </div>
</div>
//-->

<div class="card mb-2 p-2">
		<div class="card-img">
		  <img class="card-img-top" src="assets/vps/2/intro.jpg" alt="Card image cap" />
		</div>
  <div class="card-block">
    <h4 class="card-title">Beta Thalassemia</h4>
    <h6 class="card-subtitle mt-2 mb-4 text-muted">
    	Author: Eleni Dafli <font class="text-info">(4/5 <i class="fa fa-star" aria-hidden="true"></i>)</font>
    </h6>    	
    <p class="card-text">
      Some quick example text to build on the card title
      and make up the bulk of the card's content.
    </p>

    <a href="#" class="btn btn-primary float-right disabled" disable="disable"><i class="fa fa-lock"></i> Play now!</a>
    <div class="float-left text-center text-warning">
    <i class="fa fa-star" aria-hidden="true"></i>
    <i class="fa fa-star" aria-hidden="true"></i>
    <i class="fa fa-star" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <p class="text-muted"><i class="fa fa-clock-o" aria-hidden="true"></i> ~ 12 minutes</p>
    </div> 

  </div>
</div>

<div class="card mb-2 p-2">
		<div class="card-img">
		  <img class="card-img-top" src="assets/vps/3/intro.jpg" alt="Card image cap" />
		</div>
  <div class="card-block">
    <h4 class="card-title">OSCE Station 2. Rectal examination</h4>
    <h6 class="card-subtitle mt-2 mb-4 text-muted">
    	Author: Panos Bamidis <font class="text-info">(3/5 <i class="fa fa-star" aria-hidden="true"></i>)</font>
    </h6>    	
    <p class="card-text">
      A virtual patient about "OSCE Station 2. Rectal examination"
    </p>
    <a href="#" class="btn btn-primary float-right disabled" disable="disable"><i class="fa fa-lock"></i> Play now!</a>
    <div class="float-left text-center text-warning">
    <i class="fa fa-star" aria-hidden="true"></i>
    <i class="fa fa-star" aria-hidden="true"></i>
    <i class="fa fa-star" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <p class="text-muted"><i class="fa fa-clock-o" aria-hidden="true"></i> ~ 10 minutes</p>
    </div> 

  </div>
</div>


</div> <!--====  End of container  ====-->
